
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* alert note */
#news{
 
    z-index: 9999 !important; 
    transition: top 0.3s;
}

@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}@keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}
/* alert note end*/




html{
    scroll-behavior: smooth;
}

#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(255 255 255 / 99%);
 
    z-index: 1001;
    padding-top: 20px;
}

/* #fonta{
  
    font-family: 'Press Start 2P', cursive;   
} */

#position{
    align-items: center;
}

#fonta{
  
    font-family: 'VT323', monospace;   
}

#fontb{
    font-family: 'Codystar', cursive;
    
}
#fontc{
    font-family: 'Merriweather', serif;
}

 /* shadow */
#header{
    top: 0;
    z-index: 9999 !important; 
    transition: top 0.3s;
}




#homebg{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}
#newmor{
 
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.56);
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.56);
}
#newmora{
    
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #dddddd);
    box-shadow:  5px 5px 10px #d8d8d8,
                 -5px -5px 10px #ffffff;
}
#newmorb{
     
    
    background: linear-gradient(145deg, #8f8bff, #807bff);
box-shadow:  5px 5px 8px #7470fa,
             -5px -5px 8px #7a76ff;
}

input[placeholder], [placeholder], *[placeholder] {
    color: rgb(255, 255, 255) !important;
}

input::placeholder {
    color: rgb(228, 228, 228);
  }

#newmorform{

    background: #8f8bff;
box-shadow: inset 5px 5px 6px #7e7ae0,
    inset -5px -5px 6px #a09cff;
}



 /* start form */
#email{

            background: #8f8bff;
box-shadow: inset 5px 5px 6px #7e7ae0,
            inset -5px -5px 6px #a09cff;
}
#mobile{

    background: #8f8bff;
box-shadow: inset 5px 5px 6px #7e7ae0,
    inset -5px -5px 6px #a09cff;
}
#address{

    background: #8f8bff;
box-shadow: inset 5px 5px 6px #7e7ae0,
    inset -5px -5px 6px #a09cff;
}
 /* End form */




#newmorbotton{

    background: #8f8bff;
box-shadow: inset -5px -5px 3px #7e7ae0,
    inset 5px 5px 3px #a09cff;
}
#newmorbuttona{

    background: #f5f5f5;
    box-shadow: inset -5px -5px 3px #d0d0d0,
                inset 5px 5px 3px #ffffff;
}


#newmorc{
 
    
    background: #242424;
box-shadow: inset -5px -5px 3px #1f1f1f,
            inset 5px 5px 3px #292929;
}


